---
- name: Stop Consul service
  ansible.builtin.service:
    name: consul
    state: stopped

- name: Update OS packages
  ansible.builtin.include_role:
    name: nephelaiio.consul.os_update
  vars:
    update_reboot: false
    update_cache_valid_time: 1

- name: Reboot node
  ansible.builtin.reboot:
    reboot_timeout: "{{ consul_upgrade_reboot_timeout }}"

- name: Query Consul node cluster status
  ansible.builtin.shell: "consul members listNode | grep {{ inventory_hostname }} | awk '{print $3}'"
  vars:
    _status: "{{ _consul_node_status.stdout }}"
    _expected: "alive"
  register: _consul_node_status
  retries: "{{ consul_upgrade_task_retries }}"
  delay: "{{ consul_upgrade_task_delay }}"
  until: _status == _expected
  changed_when: false
  tags: skip_ansible_lint
  no_log: true

- name: Query consul node cluster status
  ansible.builtin.shell: "consul members listNode | grep {{ inventory_hostname }} | awk '{print $4}'"
  vars:
    _status: "{{ _consul_node_type.stdout }}"
    _expected: "server"
  register: _consul_node_type
  retries: "{{ consul_upgrade_task_retries }}"
  delay: "{{ consul_upgrade_task_delay }}"
  until: _status == _expected
  tags: skip_ansible_lint
  changed_when: false
