---
- name: Update Patroni Consul nodes
  hosts: "{{ _consul_hostgroup }}:!{{ _consul_update_skip_hostgroup }}"
  serial: 1
  become: true
  any_errors_fatal: true
  vars_files:
    - main.yml
  roles:
    - nephelaiio.consul.upgrade
