---
name: molecule
on:
  pull_request:
    branches:
      - master
jobs:
  molecule:
    name: molecule
    runs-on: ubuntu-latest
    strategy:
      matrix:
        scenario:
          - binary
          - repo
        image:
          - name: ubuntu2404
            command: /lib/systemd/systemd
          - name: ubuntu2204
            command: /lib/systemd/systemd
          - name: debian12
            command: /lib/systemd/systemd
    steps:
      - name: Run molecule test
        uses: pokerops/ansible-utils@master
        with:
          run: make requirements test
        env:
          PY_COLORS: "1"
          ANSIBLE_FORCE_COLOR: "1"
          MOLECULE_DOCKER_IMAGE: ${{ matrix.image.name }}
          MOLECULE_DOCKER_COMMAND: ${{ matrix.image.command }}
          MOLECULE_SCENARIO: ${{ matrix.scenario }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
